<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>


</head>

<body>
    <h1>Cart</h1>
    <div th:if="${pOU}">
        <table th:each="item : ${pOU}">
            <li th:text="${item.getProduct().getDescription()}"></li>
            <li th:text="${item.getProduct().getPrice()}"></li>
            <li>
                <image th:src="${item.getProduct().getImage()}">
            </li>
            <li th:text="${item.getQuantity()}"></li>
        </table>
    </div>
</body>

</html>