<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">

<head>
    <title>Giỏ</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}" />
</head>

<body>
    <main layout:fragment="main_content">
        <div id="cart-header">
            <div class="content">
                <h1>Giỏ hàng của bạn</h1>
            </div>
        </div>
        <script th:if="${message}">
            alert('[[${message}]]');
        </script>
        <div class="content" th:if="${pOU}">
            <section class="your-cart" th:each="item : ${pOU}">
                <article class="product">
                    <div class="product-header">
                        <a class="remove">
                            <img th:src="@{${item.product.image}}" alt="Product Item">
                            <form th:action="@{/user/cart}" th:method="delete">
                                <input type="hidden" th:value="${item.cartId}" name="cartId">
                                <button type="submit">Xóa</button>
                            </form>
                        </a>
                    </div>
                    <div class="product-content">
                        <h1 th:text="${item.product.name}"></h1>
                        <p th:text="${item.product.description}"></p>
                    </div>
                    <div class="product-footer">
                        <span class="qt-minus">-</span>
                        <span class="qt" th:text="${item.quantity}"></span>
                        <span class="qt-plus">+</span>
                        <form th:method="patch">
                            <input type="hidden" th:value="${item.cartId}" name="cartId">
                            <input type="hidden" th:value="${item.quantity}" name="quantity">
                        </form>
                        <h2 class="total-price" th:text="${item.product.price * item.quantity}"></h2>
                        <h2 class="price" th:text="${item.product.price}"></h2>
                    </div>
                </article>
            </section>
            <div th:if="${messInfo}" class="no-product-note">
                <div th:text="${messInfo}"></div>
            </div>
        </div>
        <div id="cart-footer" th:if="${price}">
            <div class="content clearfix">
                <a class="btn" th:href="@{/user/cart/bill}">Đặt hàng</a>
            </div>
        </div>
    </main>
    <script layout:fragment="using_script" th:src="@{/js/cart.js}"></script>
</body>

</html>