<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">

<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>

<body>

    <div layout:fragment="logUI" class="displayUI">
        <div class="log_link">
            <i class="fa-regular fa-user fa-sm"></i>
            <a th:if="${user}" th:href="@{/user}" th:text="${user.getUsername()}"></a>
            <div th:if="!${user}">
                <a href="/register">SignUp</a>
                <span>/</span>
                <a href="/login">SignIn</a>

            </div>

        </div>
        <span class="line"></span>
        <div class="cart_nav">
            <i class='bx bx-cart-alt bx-md'></i>
            <a th:href="@{/user/cart}">Cart</a>
        </div>
    </div>
    <main layout:fragment="main_content">
        <div class="content">
            <div class="hero_part">
                <img src="" id="hero_img">
                <div class="hero_arrows">
                    <button id="hero_prev"><i class="fa-solid fa-angle-left fa-2xl"></i></button>
                    <button id="hero_next"><i class="fa-solid fa-angle-right fa-2xl"></i></button>
                </div>
            </div>
            <div class="display_main_content" th:if="${categories}" th:each="category : ${categories}">
                <div class="direction">
                    <h2>Hot <span th:text="${category.getName()}">Pants</span></h2>
                    <div class="btn_move">
                        <i class="fa-solid fa-arrow-left" id="pop_pant_left"></i>
                        <i class="fa-solid fa-arrow-right" id="pop_pant_right"></i>
                    </div>
                </div>
                <div class="displayPart pant">
                    <div class="pant_item" th:each="item : ${category.getProducts()}">
                        <div class="displayImg">
                            <img th:src="${item.image}" alt="Product Image">
                            <div class="play-btn">
                                <a class="fa-solid fa-cart-shopping"
                                    th:href="@{/product(productId=${item.productId})}"></a>
                            </div>
                        </div>
                        <h4 th:text="${item.description}"></h4>
                        <h5 th:text="'Price: ' + ${item.price}"></h5>
                    </div>
                </div>

            </div>

        </div>
    </main>
    <script layout:fragment="using_script" th:src="@{/js/home.js}"></script>
</body>

</html>