<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Login</title>
</head>

<body>
    <div class="form">
        <div class="login-form">
            <div class="head-form">
                <label for="chk" aria-hidden="true">Login</label>
                <div th:if="${param.error}">
                    <p style="color:red;">Invalid username or password.</p>
                </div>
                <div th:if="${param.logout}">
                    <p style="color:green;">You have been logged out.</p>
                </div>
            </div>
            <form method="post" th:action="@{/login}">
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <button type="submit">Login</button>
            </form>
            <div class="not_have_account">
                <p>Don't have an account?<a th:href="@{/register}">Sign Up</a></p>
            </div>
        </div>
    </div>
</body>

</html>