<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <title>Login</title>
</head>
<body>
    <div class="form">
        <div class="register-form">
            <div class="head-form">
                <label for="chk" aria-hidden="true">Sign Up</label>
                    <div th:if="${error}">
                        <p th:text="${error}" style="color:red;"></p>
                    </div>
                    <div th:if="${messageSuccess}">
                        <p th:text="${messageSuccess}" style="color:green;"></p>
                    </div>
            </div>
            <form method="post" th:action="@{/register}">
                <input type="email" placeholder="Email" name="email">
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <input type="password" placeholder="Confirm Password" name="password2">
                <button type="submit">Sign Up</button>
            </form>
            <div class="have_account">
                <p>Already have an account?<a th:href="@{/login}">Log In</a></p>
            </div>
        </div>
    </div>
</body>
</html>

 