.main-cards{
    display: flex;
    gap: 20px;
    margin: 35px 0;
 }
.main-cards .card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    width: 275px;
}
.main-cards .card:first-child{
    background-color: #008ECC;
}
.main-cards .card:last-child{
    background-color: #ff6d00;
}
.main-cards .card .card-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-cards .card .card-inner i{
    font-size: 45px;
    border-radius: 50%;
}
.main-cards .card:first-child .card-inner i{
    padding: 10px 20px;
    background-color: #0172A4;
}
.main-cards .card:last-child .card-inner i{
    padding: 10px;
    background-color: #D15900;
}
.main-container .charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}
.main-container .charts-card{
    margin-bottom: 20px;
    padding: 35px 0 0;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-container .charts-card .chart-title{
    display: flex;
    align-items: center;
    justify-content: center;
}