<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{adminLayout/adminBase}">

<head>
    <title>Quản lý danh mục</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/adminStyle/tableStyle.css}">
</head>

<body>
    <main layout:fragment="main-content">
        <script th:if="${message}">
            alert('[[${message}]]');
        </script>
        <div class="main-title add">
            <h2>Danh sách các sản phẩm</h2>
            <button class="btn btn-add"><i class="fa-solid fa-plus"></i>Thêm sản phẩm</button>
            <div class="modal addModal">
                <div class="modal-content">
                    <form th:action="@{/admin/product/new}" th:method="post" enctype="multipart/form-data">
                        <h3>Thêm sản phẩm</h3>
                        <div class="form-group">
                            <label for="image">Ảnh:</label>
                            <input type="file" name="image">
                        </div>
                        <div class="form-group">
                            <label for="name">Tên sản phẩm:</label>
                            <input type="text" name="name">
                        </div>
                        <div class="form-group">
                            <label for="description">Mô tả:</label>
                            <input type="text" name="description">
                        </div>
                        <div class="double-form-group">
                            <div class="form-group">
                                <label for="originalprice">Giá nhập:</label>
                                <input type="text" name="originalprice">
                            </div>
                            <div class="form-group">
                                <label for="price">Giá bán:</label>
                                <input type="text" name="price">
                            </div>
                        </div>
                        <div class="double-form-group">
                            <div class="form-group">
                                <label for="category">Phân loại:</label>
                                <select name="category" style="font-size: 18px;">
                                    <option th:each="category : ${categories}" th:value="${category.name}"
                                        th:text="${category.name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="stock">Số lượng:</label>
                                <input type="text" name="stock">
                            </div>
                        </div>
                        <div class="button-group">
                            <button type="submit" class="btn btn-save">Thêm</button>
                            <button type="button" class="btn btn-cancel edit">Hủy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table class="general-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ảnh</th>
                    <th>Tên</th>
                    <th>Mô tả</th>
                    <th>Phân loại</th>
                    <th>Giá nhập</th>
                    <th>Giá bán</th>
                    <th>Số lượng</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.productId}"></td>
                    <td><img th:src="@{${product.image}}" alt="Product Image" /></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.category.name}"></td>
                    <td th:text="${product.originalprice}" class="total origin"></td>
                    <td th:text="${product.price}" class="total selling"></td>
                    <td th:text="${product.stock}"></td>
                    <td>
                        <button class="btn btn-edit">Sửa</button>
                        <button class="btn btn-delete">Xóa</button>
                        <div class="modal editModal">
                            <div class="modal-content">
                                <form th:action="@{/admin/product}" th:method="patch">
                                    <h3>Sửa đổi thông tin của sản phẩm</h3>
                                    <input type="hidden" name="id" th:value="${product.productId}">
                                    <div class="form-group">
                                        <label for="image">Ảnh:</label>
                                        <input type="text" name="image" th:value="${product.image}">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Tên sản phẩm:</label>
                                        <input type="text" name="name" th:value="${product.name}">
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Mô tả:</label>
                                        <input type="text" name="description" th:value="${product.description}">
                                    </div>
                                    <div class="double-form-group">
                                        <div class="form-group">
                                            <label for="originalprice">Giá nhập:</label>
                                            <input type="text" name="originalprice" th:value="${product.originalprice}">
                                        </div>
                                        <div class="form-group">
                                            <label for="price">Giá bán:</label>
                                            <input type="text" name="price" th:value="${product.price}">
                                        </div>
                                    </div>
                                    <div class="double-form-group">
                                        <div class="form-group">
                                            <label for="category">Phân loại:</label>
                                            <select name="category" style="font-size: 18px;">
                                                <option th:each="category : ${categories}" th:value="${category}"
                                                    th:selected="${category.name == product.category.name}"
                                                    th:text="${category.name}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="stock">Số lượng:</label>
                                            <input type="text" name="stock" th:value="${product.stock}">
                                        </div>
                                    </div>
                                    <div class="button-group">
                                        <button type="submit" class="btn btn-save">Lưu thay đổi</button>
                                        <button type="button" class="btn btn-cancel edit">Hủy</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal confirmModal">
                            <div class="modal-content">
                                <form th:action="@{/admin/product/{productId}(productId=${product.productId})}"
                                    th:method="delete">
                                    <label>Bạn có chắc chắn muốn xóa sản phẩm này?</label>
                                    <div class="button-group">
                                        <button type="submit" class="btn btn-save">Xác nhận</button>
                                        <button type="button" class="btn btn-cancel confirm">Hủy</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <script layout:fragment="scripting" th:src="@{/js/adminJS/tableJS.js}"></script>
</body>

</html>